img {
  min-width: 100% !important;
  min-height: 300px !important;
  max-height: 600px;
}
@media screen and (min-width: 576px) {
  img {
    min-height: 700px;
  }
}
.bg-contains {
  background-color: snow !important;
  color: #1e2d7d !important;
}
.card-img-top {
  padding: 1rem !important;
}
.btn {
  color: black !important;
}
.btn:hover,
.btn:focus {
  color: white !important;
}
